.upperPart img {
    border: 1px black;
  }
  
  .sidebar-category h4 {
    padding-bottom: 7px;
    border-bottom: #888888 solid 0.5px;
  }
  .sidebar-category p {
    padding-left: 30px; 
  }
  
  .upperPart-right h4 {
    font-size: 20px;
    font-weight: 300;
  }
  .upperPart-right #price {
    margin: 0px;
  }

  .upperPart-right .aboutProduct-button-wrapper {
    display: flex;
  }
 

  

  

  /* Table CSS */
  /* --------------------------------------------------------------------- */
 
  .lowerPart table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .lowerPart td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .lowerPart tr:nth-child(even) {
    background-color: #dddddd;
  }
  

  /* --------------------------------------------------------------------- */
  
  .lowerPart h4 {
    padding-bottom: 10px;
    font-size: 23px;
    font-weight: 450;
    border-bottom: solid 0.5px #888888;
  }
  
  
  /* --------------------------------------------------------------------- */
  @media (max-width: 900px) {
    .About-product-main img {
      width: 50%;
    }
  }
  @media (max-width: 750px) {
    .About-product-main img {
      width: 35%;
      height: 20%;
    }
  }
  @media (max-width: 560px) {
    .About-product-main .upperPart {
      flex-direction: column;
    }
    .About-product-main img {
      width: 100%;
      height: 20%;
    }
  }